<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="imgix" type="Imgix_Dotnet.Configuration.AppConfig.ImgixSection, Imgix-Dotnet.Configuration.AppConfig"/>
  </configSections>
  <imgix>
    <sources>
      <source name="testsource" secureUrlToken="thisisatoken" isHttps="true">
        <shardingStrategy name="none" />
        <hosts>
          <host hostname="testsource" />
        </hosts>
      </source>
    </sources>
  </imgix>
</configuration>